.adv-slider{
  position: relative;
  margin-bottom: 40px;
 .owl-dots{
   position: absolute;
   bottom: 28px;
   left: 35px;
   .owl-dot span{
     margin: 0 5px;
     width: 8px;
     height: 8px;
     background: white;
   }
   .owl-dot.active span{
     background: #262626;
   }
 }
}
