.catalog{


  &__item{
    position: relative;
    background: white;
    margin-bottom: 28px;
    cursor: pointer;
    &:hover{
      .catalog__item__img img{
        transform: scale(1.1);
      }
      .catalog__item__info{
        background: white;
      }
    }
    &__top-label{
      position: absolute;
      left: 0;
      top: 0;
      z-index: 3;
      height: 25px;
      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
      background: $darkred;
      color: white;
      min-width: 64px;
      text-align: center;
      padding: 2px 8px;
    }
    &__img{    position: relative;
      z-index: 2;
      text-align: center;
      padding-top: 11px;
      padding-bottom: 14px;
      min-height: 237px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      img{
        max-width: 100%;
        max-height: 100%;
        height: 100%;
        transition: all .2s;
      }
    }
    &__info{
      position: relative;
      z-index: 1;
      background: linear-gradient(180deg, rgba(181, 181, 181, 0.25) 0%, rgba(255, 255, 255, 0) 8.29%), #FAFAFA;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 112px;
      padding: 11px 13px 3px;
      transition: all .2s;
      .name{
        width: 100%;
        text-align: center;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.03em;
        padding: 0 33px;
        display: flex;
        overflow: hidden;
        justify-content: center;
        max-height: 70px;
        margin-bottom: auto;
      }
      .secondary{
        display: flex;
        justify-content: space-between;
      }
      .article{

        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;

        color: #4B4B4B;
      }
      .type{
        margin-left: auto;
        .icon{
          height: 32px;
          margin-top: -6px;
          margin-left: 3px;
          margin-right: -3px;
        }
      }
    }
  }

  &__pagination{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 50px;
    .arrow{
      cursor: pointer;
      margin: 0 18px;
      transition: all .2s;
      &.--disabled{
        opacity: .6;
        pointer-events: none;
        &:hover{
          opacity: 1;
        }
      }
      &.--left{
        margin-right: 21px;
      }
      &.--right{
        margin-left: 24px;
      }
      &:hover{
        opacity: .8;
      }
    }
    .dot{
      cursor: pointer;
      margin: 0 5px;
      width: 8px;
      height: 8px;
      border-radius: 4px;
      background: #C4C4C4;
      transition: all .2s;
      &.--active{
        background: #585858;
      }
      &:hover{
        background: lighten(#585858,7);
      }
    }
  }
}
