.ci {
  background: white;
  margin-top: 10px;

  &__back {
    background: #000;
    border: 0;
    width: 48px;
    margin-right: 21px;
    height: 48px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -1px;
    margin-top: -3px;

    svg {
      width: 25px;
      height: 22px;
    }

    svg path {
      stroke: white;
      transition: all .2s;
    }

    &:hover {
      svg path {
        stroke: $darkred;
      }
    }
  }

  &__slider {
    height: 324px !important;

    .lslide {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 60px;
    }
    .clone{
      padding:60px;
    }
  }
  .lSSlideOuter{
    //padding-right: 40px;
    //width: calc(100% + 25px);
  }
  .lSPager {
    padding-top: 5px !important;
    padding-bottom: 46px;

    li {
      max-height: 108px;
      //height: 108px !important;
      //width: 108px !important;
      &.active {
        overflow: visible;

        a{
          background: #FFFFFF;
          box-shadow: 8px 10px 20px rgba(0, 0, 0, 0.2);
        }
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 26px;
        height: 100%;
        @media(max-width: 992px){
          padding: 8px;
        }
      }
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    height: calc(100% - 46px);
    position: relative;
    @media(max-width: 992px){
      height: auto;
      &:before{
        opacity: 0;
      }
    }
    &:before {
      content: '';
      position: absolute;
      left: -40px;
      height: 104%;
      top: -4%;
      background: #E2E2E2;
      width: 1px;
    }
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    letter-spacing: 0.8px;
    color: #000;
    margin-top: -11px;
  }

  &__article {

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.03em;
    color: #AEAEAE;
    margin-bottom: 31px;
  }

  &__text {

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.03em;
    color: #000000;
    @media(min-width: 1000px) {
      padding-right: 80px;
    }
  }

  &__btn {
    margin-top: auto;
    background: #F1F1F1;
    border: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.01em;
    color: #444444;
    height: 49px;
    max-width: 484px;
    @media(max-width: 992px){
      min-height: 69px;
      margin-top: 48px;
      margin-bottom: 48px;
    }
    &:hover {
      background: darken(#F1F1F1, 7);
    }
  }
}

.ci-about {
  padding-top: 27px;
  padding-bottom: 30px;

  &__nav {
    display: flex;
    align-items: center;
    margin-bottom: 21px;
    background: white;
    @media(max-width: 992px){
      flex-wrap: wrap;
    }
    &__item {
      cursor: pointer;
      border-right: 1px solid #C4C4C4;
      padding-left: 38px;
      padding-right: 35px;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 25px;
      display: flex;
      height: 36px;
      align-items: center;
      letter-spacing: 0.03em;
      color: #000000;
      transition: all .2s;
      @media(max-width: 992px){
        width: 100%;
        border-right: 0;
      }

      &[aria-expanded="true"], &:hover {
        color: #D70000;

      }
      &[aria-expanded="true"]{
        pointer-events: none;
      }
      &:last-of-type {
        border-right: 0;
      }

      @media(min-width: 993px){
        &.downloads {
          padding: 10px 42px 10px 30px;
          line-height: 1.5;
          font-style: normal;
          font-weight: 500;
          font-size: 22px;
          height: auto;
          display: flex;
          align-items: center;
          text-align: center;
          letter-spacing: 0.01em;
          color: #FFFFFF;
          background: #1C3F9A;

          img {
            margin-right: 10px;
          }

          &:hover {
            color: white;
            background: darken(#1C3F9A, 7);
          }
        }
      }
        &.downloads{
          img{
            display: none;
          }
        }
    }
  }

  &__card {
    background: white;
    position: relative;
    padding: 37px 63px 78px;
    @media(max-width: 992px){
      padding: 37px 33px 78px;

    }
    &__title {
      font-style: normal;
      font-weight: 600;
      font-size: 26px;
      line-height: 36px;
      letter-spacing: 0.03em;
      color: #000000;
      margin-bottom: 13px;
    }

    &__item {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 45px;
      letter-spacing: 0.03em;
      color: #000000;
      display: flex;
      align-items: center;
      @media(max-width: 992px){
        flex-wrap: wrap;
       .name{
         width: 100%;
         line-height: 20px;
       }
        .val{
          width: 100%;
          line-height: 20px;
          margin-bottom: 24px;
        }
      }
      .name {
        min-width: 205px;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          background: #000;
          width: 6px;
          height: 6px;
          border-radius: 100%;
          left: -14px;
          top: 0;
          bottom: 0;
          margin: auto;
        }
      }
    }

    &__collpse-btn {
      position: absolute;
      left: 0;
      bottom: 0;
      background: #000;
      width: 285px;
      padding-left: 38px;
      height: 51px;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 53px;
      letter-spacing: 0.03em;
      color: #FFFFFF;
      &[aria-expanded="true"]{
        svg{
          transform: scale(1,-1);
        }
      }
      svg{
        width: 20px;
        height: 9px;
        margin-left: 2px;
      }
    }
  }

}
