.search-form{
  display: inline-flex;
  margin-top: 10px;
  height: 33px;
  width: 100%;
  .input{
    background: #F1F1F1;
    padding-left: 23px;
    padding-top: 7px;
    padding-bottom: 8px;
    border: 0;
    border-radius: 0;
    border-right: 1px solid #D8D8D8;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #4B4B4B;
    width: 57.8%;
  }
  .select{
    display: flex;
    align-items: center;
    background: #F1F1F1;
    min-width: 145px;
    font-size: 15px;
    line-height: 18px;
    color: #4B4B4B;
    height: 33px;
    border: 0;
    border-radius:0 ;
    &.--top-list{
      .list{
        top: auto;
        bottom: 100%;
        margin-bottom: 4px;
      }
    }
    &:after{
      border: 0;
      background: url("../assets/icons/arrow_down--sm.svg");
      width: 8px;
      margin-top: -1px;
      transform: none;
    }
    &.open:after{
      margin-top: -4px;
      transform: scale(1,-1);
    }
  }
  .button{
    border: 0;
    width: 58px;
    text-align: center;
    background: #D8D8D8;
    cursor: pointer;
    &:hover{
      background: darken(#D8D8D8,7);
    }
  }
}
